h1 {
    font-family: 'Vollkorn', serif;
}

h5 {
    font-family: 'Yellowtail', cursive;
}

label {
    font-family: 'Sorts Mill Goudy', serif;
}

p {
    font-family: 'Sorts Mill Goudy', serif;
}

footer {
    background: #42A5F5;
    color: white;
    line-height: 50px;
    padding: 0 20px;
  }






