body {
    background-color: moccasin;
}

h1 {
    font-family: 'Vollkorn', serif;
}

h5 {
    font-family: 'Yellowtail', cursive;
}

label {
    font-family: 'Sorts Mill Goudy', serif;
}

p {
    font-family: 'Sorts Mill Goudy', serif;
}

.footer {   
    position: relative;
    bottom: 0em;
    width: 100%;
    background: #42A5F5;
    color: white;
    line-height: 50px;
  }






